.des{
    color: #3399FF;
    padding-top: 10px;
}

#game {
    padding: 11px 20px 0 20px;
    /*border-left: 2px solid #e3e3e3;*/
    /*border-top: 2px solid #e3e3e3;*/
}

.form-control:focus {
    border-color: #F0677C;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(170, 0, 8, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(195, 72, 70, 0.60);
}


.page-head-line {
    /*font-weight: 900;*/
    padding-bottom: 20px;
    /*color: #F0677C;*/
    /*border-bottom: 2px solid #F0677C;*/

    color: #333;
    border-bottom: 1px solid #eee;
    font-size: 36px;;
    margin: 0 0 20px 0;
}

.btn-danger {
    background-image: linear-gradient(to bottom, #ed5d5d 0, #db5656 100%)!important;

}

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover {
    /*background-image: -webkit-linear-gradient(top,#F0677C,#ca5768);*/
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
}

/*.fixed-table-container tbody .selected td {*/
/*background-color: #f54d6a !important;*/
/*}*/

/*.table-striped>tbody>tr:nth-child(odd)>td,*/
/*.table-striped>tbody>tr:nth-child(odd)>th {*/
/*background-color: #f7f7f7;*/
/*}*/

.pagination>.active>a {
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    /*background-color: #F0677C;*/
    border-color: #c12e2a;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
}

.fixed-table-pagination .pagination, .fixed-table-pagination .pagination-detail {
    margin-top: 30px;
    margin-bottom: 20px;
}

.table td, .table th {
    text-align: center;
}

.paddingRe{
    margin: 20px 0;
}

.form-group label {
    padding: 0;
}


.page-footer-line{
    color: #333;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}
