@(imgUrl:String,data:List[Map[String,String]])
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>WebAPP</title>
            <!--<link rel="icon" href="img/#">-->
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("templates/topic_template/topic_template_001/topic_template.css")">
            <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


        <![endif]-->
        <script src="@routes.Assets.at("lib/jquery.min.js")"></script>
        <script src="@routes.Assets.at("lib/jquery.nicescroll.js")"></script>
        <script src="@routes.Assets.at("lib/nicescroll.main.js")"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script>
        var base_img_server="http://10.9.52.31:8085/"
        var full_star_img_url=base_img_server+"comm_star_fu.png";
        var em_star_img_url=base_img_server+"comm_star_em.png";
        function appClickFunDownload(name) {
            window.downloadclick.clickOnAndroid(name);
        }
        function appClickFunDetail(name) {
            window.detailclick.clickOnAndroid(name);
        }
        function downloadCountToString(count){
            if(count<9999){
                return count+"次下载";
            }else if(count>=9999&&count<99999999){
                return (count/10000).toFixed(2)+"万次下载";
            }else {
                return (count/100000000).toFixed(2)+"亿次下载";
            }
        }
        function pkgsizeToString(size){
            return (size/1048576.00).toFixed(2)+"M";
        }
        var columns="lazyapp_id,title,icon,described,t_downloadcount,status,versioncode,pkgsize,totalstar,last_apppkg_id,downloadurls,packagename";
        $(function(){
            var url=location.href
            var urlParams=url.substring(url.indexOf('?')+1,url.length).split("&");
            var appIds="1423649516891";
            $.each(urlParams,function(index,element){
                var kv=element.split('=');
                if(kv.length == 2){
                    var key=kv[0].trim();
                    if(key=='icon'){
                        var iconUrl=kv[1];
                        $("#icon").attr("src",base_img_server+iconUrl);
                    }else if(key=='ids'){
                        appIds=kv[1];
                    }
                }
            });
            $.ajax({
                url:"/template/apps",
                dataType:"json",
                type:"GET",
                data:{"appIds":appIds,"columns":columns},
                success:function(data){
                    var buffer=""
                    if(data.code==0) {
                        $.each(data.jsonObj, function (index, element) {
                            var icon=element.icon;
                            icon = JSON.parse(icon);
                            var id = "app" + index;
                            var star='';
                            var total_star=element.totalstar;
                            var full_star_index=0
                            for(;full_star_index<total_star;full_star_index++){
                                if(star==''){
                                    star='<img src="'+full_star_img_url+'">';
                                }else{
                                    star+='<img src="'+full_star_img_url+'" style="margin-left: -2px;">';
                                }
                            }
                            for(index=full_star_index;index<5;index++){
                                if(star=''){
                                    star='<img src="'+em_star_img_url+'">';
                                }else{
                                    star+='<img src="'+em_star_img_url+'" style="margin-left: -2px;">';
                                }
                            }
                            var downloadAndSize='官网 '+pkgsizeToString(element.pkgsize)+'/'+downloadCountToString(element.t_downloadcount);

                            var str = '<div class="col-xs-12 topMa">'
                                    + '<a class="btn btn-xs btn-danger aaa" onclick="appClickFunDownload(\'' + element.title + '\')" style="width: 50px;">下载</a>'
                                    + '<div class="listBase listPanelActive" onclick="appClickFunDetail(\'' + element.title + '\')">'
                                    + '<div class="col-xs-3 listPaddingRe">'
                                    + '<img class="iconRe" src="' + icon.px48 + '">'
                                    + '</div>'
                                    + '<div class="col-xs-6 paddingTestRe">'
                                    + '<h1 id="ap01" class="iconTopic">' + element.title + '</h1>'
                                    + star
                                    + '<p class="iconDes">' + downloadAndSize + '</p>'
                                    + '</div>'
                                    + '</div>'
                                    + '</div>';
                            buffer += str;
                        })
                        $appContainer = $("#container");
                        $appContainer.html(buffer)
                    }
                }
            });

        })
    </script>
    </head>
    <body>
        <div class="container">
            <div class="row topMa">
                <div class="col-md-12">
                    <img class="imgRe" src="img/s_ad_001.png" id="icon">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="container">
            </div>
        </div>
    </body>
</html>